.module {
    display: flex;
    flex-direction: column;
    background-color: var(--vanille);
    /* border: 1px solid var(--reglisse); */
    border-radius: 1em;
    box-shadow: 5px 5px 10px #4747477e;
    width: 85vw;
    margin-bottom: 4rem;
    padding: 2rem;
    background-size: contain;
    background-repeat: no-repeat;

    &:first-child {
        margin-top: 4rem
    }

    .module_titre {
        padding-left: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .image_titre {
            display: flex;

            .image {
                margin-left: 2rem;
                width: 80px;
                height: 80px;
                background-size: contain;
            }

        }

        h3 {
            margin-right: 5rem;
            text-transform: uppercase;
            font-weight: bold;
        }


    }

    .capsules {
        display: flex;

    }

}