.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    border: 2px var(--cerise) solid;
    background-color: var(--abricot);
    border-radius: 10px;
    padding: 2em;

    h2 {
        color: var(--grenadine);
    }

    .choix {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.1em;

        .reponse {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--grenadine);
            padding: 1em 3em;
            border-radius: 10px;
            color: var(--cerise);
        }

        .reponse:hover {
            cursor: pointer;
            background-color: var(--vanille);
            color: var(--grenadine);

        }
    }
}